* {
    box-sizing: border-box;
}

:root {
    --font-head: Krona One, sans-serif;
    --font-body: Josefin Sans, sans-serif;

    --col-green-dark: #366D5A;
    --col-orange-dark: #95601B;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: var(--font-body);

    > * {
        grid-area: 1/1;
    }
}

h1,
h2 {
    font-family: var(--font-head);
}

h1 {
    font-size: 3rem;
}

button,
input {
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    border: none;
}

button {
    padding: 0.25em 1em;
    position: relative;

    background: repeating-linear-gradient(-45deg, #fff 0, #fff 10px, #efe 10px, #efe 20px);
    color: var(--col-green-dark);
    cursor: pointer;
    border-radius: 2rem / 1rem;
    box-shadow: 0 8px 0 var(--col-green-dark),
        0 8px 16px var(--col-green-dark);

    transition: transform 0.2s var(--ease-function),
            box-shadow 0.2s var(--ease-function),
            opacity 0.2s cubic-bezier(0.215, 0.610, 0.355, 1);

    --ease-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 12px 0 var(--col-green-dark),
            0 12px 20px var(--col-green-dark);

        filter: brightness(1.25);

        --ease-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-duration: .05s;
    }

    &:active {
        transform: translateY(8px);
        box-shadow: 0 0 0 var(--col-green-dark),
            0 1px 4px var(--col-green-dark);

        --ease-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &[disabled] {
        opacity: 0.3;
        pointer-events: none;
    }
}